@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* purgecss start ignore */
@import 'highlight.js/styles/atelier-sulphurpool-light.css';
/* @import 'nord-highlightjs/dist/nord.css'; */

@import './markdown.css';

html {
  @apply font-sans;
}

.front-page-links {
  @apply text-green-900 font-bold text-xl;
  color: rgb(98, 106, 224);
}

.table-of-contents a {
  color: rgb(98, 106, 224);
}

.lt-grid-container {
  display: grid;
  grid-template-areas: 'header' 'body' 'footer';
}

.lt-body {
  display: grid;
  grid-auto-flow: row;
  grid-template-areas: 'menu' 'content';
  grid-area: body;

  @apply m-1;
}

@responsive {
  .lt-body-md {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas: 'menu content';
    grid-area: body;
    @apply m-8;
    min-height: 500px;
  }
}
@responsive {
  .lt-body-lg {
    display: grid;
    grid-template-columns: 200px 1fr 10fr 1fr;
    grid-template-areas: 'menu menu content ...';
    grid-area: body;
    @apply m-8;
    min-height: 500px;
  }
}
@responsive {
  .lt-body-xl {
    display: grid;
    grid-template-columns: 250px 1fr 10fr 1fr;
    grid-template-areas: 'menu ... content ...';
    grid-area: body;
    @apply m-8;
    min-height: 500px;
  }
}

.lt-header {
  grid-area: header;
}

.lt-menu {
  grid-area: menu;
}

.lt-content {
  grid-area: content;
  /*
    if you don't put this, the content will stretch past the screen width
  see: https://css-tricks.com/preventing-a-grid-blowout/
  
  */
  min-width: 0;
}

.lt-footer {
  grid-area: footer;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
h5 {
  @apply font-bold;
}

/* purgecss end ignore */
